<div class="component stretch flex-vertical">

	<header class="stretch-horizontally flex flex-center-center flex-grow-shrink"
		bgColor="accent">

		<div class="title flex-grow flex-center-center">
			JamSalon App
		</div>

		<div class="profile">
			<div *ngIf="( user | async ); then userTemplate; else guestTemplate"></div>
			<ng-template #userTemplate>
				<button mat-button
					class="sign-out-button"
					(click)="signOut()">
					SIGN OUT
				</button>
			</ng-template>
			<ng-template #guestTemplate>
				<button mat-button
					class="sign-in-button"
					(click)="goto( pages.signIn )">
					SIGN IN
				</button>
			</ng-template>
		</div>

	</header>

	<main class="stretch-horizontally flex-grow-shrink">

		<section class="welcome-section flex-vertical flex-center-center">
			<div class="welcome-prompt-text xxx-large-text"> Meet the #1 Software for Salons and Spas </div>
			<div class="welcome-actions">

				<span *ngIf="( user | async ); then welcomeUserTemplate; else welcomeGuestTemplate"></span>

				<ng-template #welcomeUserTemplate>

					<span *ngIf="( company | async ); then activeUserTemplate; else newUserTemplate"> </span>

					<ng-template #activeUserTemplate>
						<button mat-raised-button color="primary"
							class="goto-console-button"
							(click)="goto( pages.console )">
							Go to Console
						</button>
					</ng-template>

					<ng-template #newUserTemplate>
						<button mat-raised-button color="primary"
							class="activate-service-button"
							(click)="create()">
							Activate Service
						</button>
					</ng-template>

				</ng-template>

				<ng-template #welcomeGuestTemplate>
					<button mat-raised-button color="primary"
						class="sign-in-button"
						(click)="goto( pages.signIn )">
						SIGN IN
					</button>
				</ng-template>

			</div>

		</section>

		<section class="feature-section flex-vertical flex-center-center">
			<div class="feature-grid flex">
				<div class="feature-tile" *ngFor="let feature of features">
					<div class="feature">
						<h1 class="feature-title"> {{ feature.title }} </h1>
						<p class="feature-description"> {{ feature.description }} </p>
					</div>
				</div>
			</div>
		</section>

	</main>

	<footer class="flex-no-shrink" bgColor="primary">

	</footer>

</div>
