<jam-window title="Queue"
	titleIcon="people">

	<div header-template class="flex flex-start-center">
		<button mat-raised-button
			color="accent"
			(click)="create()">
			<mat-icon> add </mat-icon>
			<span> Check in </span>
		</button>
	</div>

	<div content-template
		class="content stretch-horizontally flex-vertical flex-start-center">

		<mat-list class="check-in-list stretch-horizontally">
			<mat-list-item *ngFor="let checkIn of ( list | async )"
				class="check=in-list-item"
				(click)="edit( checkIn )">
				<h4 mat-line> {{ checkIn.name }} </h4>
				<button mat-icon-button class="remove-button"
					(click)="remove( checkIn ); $event.stopPropagation();">
					<mat-icon mat-list-icon> delete </mat-icon>
				</button>
			</mat-list-item>
		</mat-list>

	</div>

	<div footer-template
		class="footer stretch-horizontally">
	</div>

</jam-window>
