<jam-window title="Services"
	titleIcon="build">

	<div content-template
		class="content stretch-horizontally flex-vertical flex-start-center">

		<mat-list class="service-list stretch-horizontally">
			<mat-list-item *ngFor="let service of ( list | async )"
				class="service-list-item"
				(click)="edit( service )">
				<div matListAvatar class="service-duration flex-vertical flex-center-center">
					<div> {{ service.duration }} </div>
					<div class="xx-small-text"> min </div>
				</div>
				<h4 mat-line> {{ service.name }} </h4>
				<p mat-line *ngIf="service.price" class="service-price small-text"> ₹ {{ service.price }} </p>
				<button mat-icon-button class="remove-button"
					(click)="remove( service ); $event.stopPropagation();">
					<mat-icon mat-list-icon> delete </mat-icon>
				</button>
			</mat-list-item>
		</mat-list>

	</div>

	<div footer-template
		class="footer stretch-horizontally">
		<button mat-fab
			class="add-button absolute"
			(click)="create()">
			<mat-icon> add </mat-icon>
		</button>
	</div>

</jam-window>
