:host {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

jam-window {
	max-width: 1000px;
}

.stylist-list {
	max-width: 500px;
}

.stylist-list-item {
	margin-top: 20px;
	padding: 15px 20px;
	border-radius: 5px;
	box-shadow: 4px 4px 20px -6px rgba( 0, 0, 0, 0.1 );
	background-color: white;
}

.stylist-list-item:first-child {
	margin-top: 0px;
}

.stylist-list-item:hover {
	background-color: antiquewhite;
}

.stylist-list-item:hover .remove-button {
	color: #F44336;
}

.stylist-service-list-item {
	width: 200px;
	color: seagreen;
	text-align: center;
}

.stylist-avatar {
	padding: 5px;
	background-color: darkseagreen;
	color: white;
}

.last-modified-item-animation {
	animation-name: last-modified-item-animation;
	animation-duration: 2s;
	animation-timing-function: ease-out;
}

@keyframes last-modified-item-animation {
	0% { background-color: white }
	50% { background-color: mediumseagreen }
	100% { background-color: white }
}

.footer {
	min-height: 50px;
}

.add-button {
	right: 30px;
	bottom: 30px;
}

@media ( max-width: 576px ) {

	.stylist-list {
		max-width: 300px;
	}

	.stylist-service-list {
		display: none;
	}

	.footer {
		height: 20px;
	}

}
