.form-row {
	display: flex;
	padding: 10px 0px;
}

.form-label {
	width: 200px;
}

.form-element {
	flex-grow: 1;
}

.service-list-label {
	padding-top: 15px;
}

.service-list-element {
	margin-left: -15px;
}
