.overlay {
	z-index: 99;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
}

mat-expansion-panel {
	z-index: 100;
	position: fixed;
	background-color: transparent;
	border-radius: 0px;
}

mat-expansion-panel:hover {
	background-color: rgb( 247, 250, 255 );
}

.toolbarOpen {
	background-color: rgb( 247, 250, 255 );
}

mat-expansion-panel-header {
	height: 40px;
}

.menu-button {
	margin-right: 20px;
}

.title {
	font-weight: bold;
}

.menu {
	padding-bottom: 10px;
}

.nav-link {
	cursor: pointer;
	margin-left: 30px;
	font-size: large;
	color: gray;
}

.nav-link:hover {
	color: black;
}

.left-section, .right-section {
	width: 50px;
}

mat-panel-title {
	margin-right: 0px;
}

.profile-button mat-icon {
	transition: transform 0.2s linear;
}

.grow-animation {
	transform: scale( 1.5, 1.5 );
}

@media ( max-width: 576px ) {

	mat-expansion-panel {
		background-color: #3f51b5;
		color: white;
	}

	.menu-button {
		margin-right: 0px;
	}

	.left-section mat-icon, .title, .right-section mat-icon, .nav-link {
		color: white;
	}

	.panel-body {
		flex-direction: column;
		padding-bottom: 20px;
	}

	.title {
		font-weight: normal;
	}

	.menu {
		flex-direction: column;
	}

	.nav-link {
		margin-top: 20px;
		margin-left: 0px;
	}

}
